doctype html
head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/list.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Passion+One")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Oxygen")
    title user list
body
        table.table
            thead
                tr
                    th #
                    th UserName
                    th Password
                    th Name
                    th Email
                    th Id
                    th Role
                    th Created At
                    th Operation
                    
            tbody
                - for user,index in users
                    tr
                        td #{index+1}
                        td #{user.username}
                        td #{user.password}
                        td #{user.name}
                        td #{user.email}
                        td #{user.id}
                        td #{user.role}
                        td #{user.created_at.getDate()} / #{user.created_at.getMonth()+1} / #{user.created_at.getFullYear()}
                        td 
                            form(method="post", action="/register/delete")
                                input(type="hidden", value=user.id , name="uid")
                                button.btn.btn-danger.btn-sm.btn-block.delete-button(type="submit") Delete